/* Variables CSS */
:root {
    --blue-bayoux-50: #f5f8fa;
    --blue-bayoux-100: #e9eff5;
    --blue-bayoux-200: #cfdde8;
    --blue-bayoux-600: #3b6381;
    --blue-bayoux-700: #345670;
    --blue-bayoux-800: #0b3d93;
    --blue-bayoux-900: #122754;
    --blue-bayoux-950: #080d28;
}

*{
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    background-image: url(../img/imagen4.png);
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.contenedor {
    max-width: 800px;
    margin: 20px ;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Establecer posición relativa */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Protest Strike', sans-serif;
}

/* Estilos para el buscador */
.buscador {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.buscador input {
    flex: 0 1 auto;
    padding: 10px;
    font-size: 16px;
}

.buscador-btn {
    padding: 10px 20px;
    background-color: var(--blue-bayoux-700);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.buscador-btn:hover {
    background-color: var(--blue-bayoux-200);
    color: var(--blue-bayoux-900);
}

/* Estilos para la lista de usuarios */
.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.user {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
    margin: 0;
}

.user-info p {
    margin: 5px 0;
}

/* Estilos para las acciones de usuario */
.user-actions {
    margin-top: 10px;
}

.user-actions button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilos para la paginación */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.prev-btn,
.next-btn,
.anterior,
.siguiente {
    padding: 10px 20px;
    background-color: var(--blue-bayoux-700);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    transition: all 0.2s;
}

.prev-btn:hover,
.next-btn:hover,
.anterior:hover,
.siguiente:hover {
    background-color: var(--blue-bayoux-200);
    color: var(--blue-bayoux-900);
    transform: scale(1.04);
}

/* Estilos para el botón de añadir usuario */
.add-user {
    position: absolute; /* Establecer posición absoluta */
    top: 80px; /* Bajar el botón */
    right: 20px; /* Alinear con el final del contenedor */
    margin-top: 20px;
}

.add-user-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.add-user-btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.add-user-btn:hover {
    background-color: #218838;
}


/* Estilos para la tabla de usuarios */
.tabla {
    border-collapse: collapse;
    font-family:'Poppins', sans-serif;
    margin-bottom: 20px;
    width: 100%;
}

.tabla th,
.tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.tabla th {
    background-color: #f2f2f2;
}

.tabla td button {
    padding: 5px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tabla td .eliminar {
    background-color: #ff4d4d;
    border: solid 1px #ff4d4d;
    color: #fff;
}

.tabla td .eliminar:hover {
    background-color: var(--blue-bayoux-300);
    color: #ff4d4d;
}

.tabla td .modificar {
    background-color: var(--blue-bayoux-700);
    color: #fff;
}

.tabla td .modificar:hover {
    background-color: var(--blue-bayoux-200);
    color: var(--blue-bayoux-900);
}

/* Estilos para la separacion iconos libreria */
/* Estilos para los iconos dentro de los botones */
.add-user-btn i,
.eliminar i,
.modificar i,
.anterior i,
.siguiente i {
    margin-right: 5px;
}

.siguiente i {
    margin-left: 5px;
}

/* Estilos para los modales */
.modal {
    font-family:'Poppins', sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
    /* Centrar el modal */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    z-index: 1000;
    /* Colocar el modal por encima de otros elementos */
    width: 100%;
    /* Ocupar todo el ancho disponible */
    height: 100%;
    /* Ocupar toda la altura disponible */
}

.eliminar-modal {
    background-color: #fff;
    /* Fondo blanco */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    max-width: 50%;
    /* Ancho máximo del contenido */
    height: auto;
    /* Altura máxima del contenido */
    overflow-y: auto;
    /* Habilitar el desplazamiento vertical si es necesario */
    position: relative;
    /* Establecer la posición relativa para los botones */
    margin: auto;
    /* Centrar el contenido horizontalmente */
    margin-top: 10%;
    /* Margen superior ajustado para centrar verticalmente */
}

.eliminar-modal h2 {
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
}

.modal-contenido {
    background-color: #fff;
    /* Fondo blanco */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    max-width: 50%;
    /* Ancho máximo del contenido */
    height: 60%;
    /* Altura máxima del contenido */
    overflow-y: auto;
    /* Habilitar el desplazamiento vertical si es necesario */
    position: relative;
    /* Establecer la posición relativa para los botones */
    margin: auto;
    /* Centrar el contenido horizontalmente */
    margin-top: 10%;
    /* Margen superior ajustado para centrar verticalmente */
}

.modal-contenido h2 {
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
}

.form_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 80%; */
    height: 100%;
    padding: 8px;
}

.form_content .inputDate,
.selectDate {
    border: solid 1px #ddd;
    padding: 15px;
    outline: none;
    border-radius: 6px;
}

/* Estilos para el botón de cerrar */
.cerrar {
    position: absolute;
    /* Establecer la posición absoluta */
    top: 10px;
    /* Espaciado superior */
    right: 10px;
    /* Espaciado derecho */
    cursor: pointer;
    /* Mostrar el cursor como puntero */
    color: #333;
    /* Color del icono */
    font-size: 20px;
    /* Tamaño del icono */
}

/* Estilos para los botones dentro del modal */
.modal-botones {
    text-align: center;
    /* Alinear los botones al centro */
    margin-top: 20px;
    /* Espaciado superior */
}

.modal-botones .confirmar-eliminar {
    padding: 10px 20px;
    /* Espaciado interno */
    margin: 0 10px;
    /* Espaciado externo */
    border: none;
    /* Quitar el bord   e */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Mostrar el cursor como puntero */
    background-color: #ff4d4d;
    border: solid 1px #ff4d4d;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    font-size: 16px;
    /* Tamaño del texto */
    transition: background-color 0.3s ease;
    /* Transición suave al pasar el ratón */
}

.modal-botones .cancelar {
    padding: 10px 20px;
    /* Espaciado interno */
    margin: 0 10px;
    /* Espaciado externo */
    border: none;
    /* Quitar el bord   e */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Mostrar el cursor como puntero */
    background-color:#28a745 ;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    font-size: 16px;
    /* Tamaño del texto */
    transition: background-color 0.3s ease;
    /* Transición suave al pasar el ratón */
}

.modal-botones .confirmar-eliminar:hover {
    background-color: var(--blue-bayoux-300);
    color: #ff4d4d;
       /* Cambiar el color de fondo al pasar el ratón */

    }

.modal-botones .cancelar:hover {
    background-color: #218838;

}

.modal-botones .cancelar_md {
    padding: 10px 20px;
    /* Espaciado interno */
    margin: 0 10px;
    /* Espaciado externo */
    border: none;
    /* Quitar el bord   e */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Mostrar el cursor como puntero */
    background-color:#FF8C00;
    ;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    font-size: 16px;
    /* Tamaño del texto */
    transition: background-color 0.3s ease;
    /* Transición suave al pasar el ratón */
}
.modal-botones .cancelar_md:hover {
    background-color: #FFB347;
}

/* Estilos para el botón de guardar-modificacion y cambio_contraseña */
.modal-botones .guardar-modificacion,
.modal-botones .cambio_contraseña {
    padding: 10px 20px;
    margin: 10px; /* Ajustar el margen externo para separar los botones */
    border: none;
    border-radius: 8px; /* Hacer los bordes más esquinados */
    cursor: pointer;
    background-color: var(--blue-bayoux-700);
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo específico para los botones dentro del modal */
.modal-botones button,
.modal-botones a {
    padding: 10px 20px;
    margin-top: 20px; /* Ajustamos el margen superior para separar los botones */
    border: none;
    border-radius: 8px; /* Hacemos los bordes más esquinados */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-botones .guardar-modificacion:hover,
.modal-botones .cambio_contraseña:hover {
    background-color: var(--blue-bayoux-200);
    color: var(--blue-bayoux-900);
}
