<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static './css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static './css/calculoBasadoDias.css' %} ">



    <!-- libreria de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    
    <title>{% block title %}Mi Sitio{% endblock %}</title>
</head>
<body>
    <div class="containertarifador" >
        <div class="menu-dashboard">
            <div class="top-menu">
                <div class="logo">
                    <img src="{% static './img/company_51033039_logo.jpg' %} " alt="">
                    <span>Colvatel</span>
                </div>
                <div class="toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
            <hr>
            <div class="menu">

                <a  class="enlace" href="{% url 'tarifa' %}">
                    <i class="bx bx-grid-alt"></i>
                    <span>Dashboard</span>
                </a>

                <a  class="enlace" href="{% url 'tarifa' %}">
                    <i class="bx bx-user"></i>
                    <span>Gestión de Usuarios</span>
                </a>

                <a  class="enlace" href="{% url 'tarifa' %}">
                    <i class="bx bx-file-blank"></i>
                    <span>Tarificador segun RR.HH.</span>
                </a>

                <a  class="enlace" href="{% url 'tarifa' %}">
                    <i class="bx bx-file-blank"></i>
                    <span>Tarificador según días</span>
                </a>
                
                <a  class="enlace" href="{% url 'tarifa' %}">
                    <i class="bx bx-file-blank"></i>
                    <span>Tarificador TRD</span>
                </a>

                <a  class="enlace" href="{% url 'tarifa' %}">
                    <i class="bx bx-cog"></i>
                    <span>Opciones</span>
                </a>
    
            </div>
        </div>
        <div class="menuUser">
            <div class="contentperfil">
                <img src="{% static './img/blank-profile-picture-973460_1280.png' %}" alt="" class="imgperfil">
            </div>
                <nav>
                    <ul>
                        <li><a href="" style="color: black;" class="perfil">Perfil</a><i></i></li>
                            <ul class="submenu">
                            
                                <li><a href="" class="textsubmenu"><i class="bx bx-cog"></i>Ajustes</a></li>
                                <li><a href=""  class="textsubmenu"><i class="bx bx-user"></i>Perfil</a></li>
                                <li><a href=""  class="textsubmenu"><i class='bx bx-exit'></i>Salir</a></li>
                            
                            </ul>
                    </ul>
                </nav>
        </div>
        <div class="contdatos">
            
            {% block content %}{% endblock %}

        </div>
    </div> 
    
    
    <script src="{% static './js/script.js' %}" defer></script>



</body>
</html>