<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/resultados_calculo.css" />
    <!--Link de letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    <title>Resultados Calculo</title>
</head>
<body>
    <section class="container">
    <h1>RESULTADOS CALCULO</h1>
        <form action="#" class="form">
            <div class="input-box">
                <label>PROCESO</label>
                <input type="text" disabled readonly />
            </div>
            <div class="input-box">
                <label>CANT DE PROCESOS</label>
                <input type="number" disabled readonly />
            </div>
            <div class="input-box">
                <label>CANT DE RECURSOS</label>
                <input type="number" disabled readonly />
            </div>
            <div class="input-box">
                <label>LUGAR DE EJECUICIÓN</label>
                <input type="text" disabled readonly />
            </div>
            <div class="input-box">
                <label>LUGAR DE MEDIDA</label>
                <input type="text" disabled readonly />
            </div>
            <div class="input-box">
                <label>COSTO POR UNIDAD</label>
                <input type="number" disabled readonly />
            </div>
            <div class="input-box">
                <label>COSTO TOTAL</label>
                <input type="number" disabled readonly />
            </div>
            <div class="input-box">
                <label>DÍAS ESTIMADOS</label>
                <input type="text" disabled readonly />
            </div>
            <div class="input-box">
                <label>PROM DIA</label>
                <input type="text" disabled readonly />
            </div>
            <div class="input-box">
                <label>TARIFA UNITARIA</label>
                <input type="text" disabled readonly />
            </div>
            </div>
            <button>SALIR</button>
        </form>
    </section>
</body>
</html>